body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
}

.container{
    max-width:480px;
    margin:auto;
    padding:15px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

select, button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#00c853;
    color:white;
    font-weight:bold;
}

button:hover{
    background:#00a844;
}

.card{
    background:white;
    color:black;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
    font-size:14px;
}

.countdown{
    text-align:center;
    font-size:20px;
    margin-top:15px;
    font-weight:bold;
    color:#00ffcc;
}

h2{
    margin-top:30px;
}

.doa-card{
    background:white;
    color:black;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
}

.doa-arab{
    font-size:20px;
    text-align:right;
    margin-bottom:10px;
}
